:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF;
    --secondary-bgc: #F5F4FA;
    --hero-bgc: #2F303A;
}
body {
    color: var(--primary-text-color);
    background-color: var(--white-color) ;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}
.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accent {
    color: var(--accent-color);
}
.no-gap {
    display: block;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
/* ------nav------- */
.page-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.main-nav,
.site-nav {
    display: flex;
    align-items: center;
} 
.logo {
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.site-nav .item + .item {
    margin-left: 50px;
}
/* .site-nav .item:not(:last-child){
    margin-right: 50px;
} */
/* .site-nav .item:last-child {
    margin-right: 0;
} */
.site-nav .link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: inherit;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.14;
} 
.site-nav .logo {
    padding-top: 24px;
    padding-bottom: 25px;
}
.link:hover,
.link:focus {
    color: var(--accent-color);
}
.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateY(25%);
    height: 4px;
    width: 100%;

    background-color: var(--accent-color);
    border-radius: 2px;
}

.current-item {
    position: relative;
}
.contact {
    display: flex;
    margin-left: auto;
}
.contact .link{
    padding-top: 32px;
    padding-bottom: 32px;
}
.contact .item + .item {
    margin-left: 50px;
}
.nav-contact {
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    line-height: 1.71;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.icon-envelope {
    margin-right: 10px;
    fill: currentColor;
}
.icon-smartphone {
    margin-right: 10px;
    fill: currentColor;
}

/* ----Hero----- */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    }
.hero {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-bgc);
    background-image: 
    linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
     url(../images/Img\(BG\).jpg);
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.hero-title {
    margin-bottom: 30px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button {
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    border-color: transparent;
    min-width: 216px;
    font-family: inherit;
    color: var(--white-color);
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.modal {
    position: relative;
    width: 528px;
    height: 581px;
    background-color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}
.modal-form {
    width: 100%;
    padding: 40px 41px;
}
.form-box {
    position: relative;
    margin-bottom: 25px;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 35px;
}
.modal-label {
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}
.modal-input {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 35px;
    min-width: 448px;
    border: 1px solid #21212133;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus-within {
    outline: none;
    border-color: var(--accent-color);
}
.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: inline-flex;
    fill: currentColor;
}
.form-box:focus-within {
    color: var(--accent-color);
}

.feedback-box {
    position: relative;
    margin-bottom: 20px;
}
.feedback {
    resize: none;
    width: 448px;
    height: 118px;
    padding-top: 12px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
    border: 1px solid #21212133;
    border-radius: 4px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback:focus-within {
    outline: none;
    border-color: var(--accent-color);
}
.checkbox-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    line-height: 1.71;
}
.checkbox-link {
    color: var(--accent-color);
}
.check-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: 7px;
    transform: translateY(25%);
    border: 2px solid var(--primary-text-color);
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--white-color);
}
.checkbox:checked + .check-icon {
    background-color: var(--accent-color);
    fill: currentColor;
    border-color: var(--accent-color);
    background-size: contain;
    background-origin: border-box;
}
.close-button {
    position: absolute;
    top:0;
    right: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-top: 8px;
    margin-right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1);
    transition: transfom 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--primary-text-color);
}

.close-icon {
    fill: currentColor;
}
.close-button:hover,
.close-button:focus {
    color: var(--accent-color);
}

.backdrop.is-hidden .close-button {
    transform: scale(0);
}
.form-button {
    display: inline-block;
    min-width: 200px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 52px;
    border-color: transparent;  
    cursor: pointer;
}
/* -----Features------ */
.features-list,
.work-list,
.team-list {
    display: flex;
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.features-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bgc);
    border-radius: 4px;
}

.features-list .item {
    width: calc((100% - 90px) / 4)
}

.features-list .item:not(:last-child) {
    margin-right: 30px;
}

.features-title {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: inherit;
    line-height: 1.14;
}

.features-text {
    color: var(--secondary-text-color);
    line-height: 1.71;
}
/* ------Work and Team----- */
.section.work {
    padding-top: 0;
}
.work .item:not(:nth-child(3)) {
    margin-right: 30px;
}
.work-list .item {
    display: block;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
}
.work-title,
.team-title,
.client-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.work-image-title {
    line-height: 1.14;
    font-size: inherit;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-color);
}
.work-box {
    position: relative;
}
.work-image-box {
    position: absolute;
    bottom: 0;

    display: block;
    width: 370px;
    padding-top: 27px;
    padding-left: 107px;
    padding-bottom: 27px;
    padding-right: 107px;

    background-color: rgba(47, 48, 58, 0.8);
}
.padding {
        padding-left: 95px;
        padding-right: 94px;
}
.section.team {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--secondary-bgc);
}
.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-item {
    width: calc((100% -90px) / 4);
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-container {
    padding-top: 30px;
    padding-bottom: 30px;
}
.people {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.proffesion {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 16px;
}
.social-list {
    display: flex;
    justify-content: center;
}
.social-list .item {
    margin-right: 10px;
}
.social-list .item:last-child {
    margin-right: 0;
}
.social-link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    color: #afb1b8;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}
.social-icon {
    fill: currentColor;
}

/* Clients */
.clients{
    padding-bottom: 103px;
}
.client-list {
    display: flex;
    justify-content: center;
}
.client-list .item {
    margin-right: 30px;
}
.client-list .item:last-child {
    margin-right: 0;
}
.client-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    color: #afb1b8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}
.client-icon {
    fill: currentColor;
}

/* -----footer----- */
.footer {
    background-color: var(--hero-bgc);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-logo {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
    color: var(--white-color);
}
.address {
    display: inline-block;
    margin-bottom: 9px;
    color: var(--white-color);
    font-style: normal;
    line-height: 1.36;
}
.footer-contact {
    display: inline-block;
    margin-bottom: 9px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}
.flex {
    display: flex;
}
.footer-join {
    display: inline-block;
    width: 206px;
    height: 80px;
    padding-top: 12px;
    margin-left: 70px;
}
.join-text {
    margin-bottom: 20px;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--white-color);
}
.footer-join .social-link {
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
}
.footer-join .social-link:hover,
.footer-join .social-link:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
}  
.join-form {
    padding-top: 12px;
    margin-left: 93px;
}
.join-input {
    min-width: 358px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    background-color: var(--hero-bgc);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}
.join-button {
    display: inline-flex;
    min-width: 200px;
    padding: 11px 28px 10px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
}
.join-icon {
   margin-left: 10px;
}

/* -----portfolio------ */
.button-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.button-list .item {
    margin-right: 8px;
}
.button-list .item:last-child {
    margin-right: 0;
}
.portfolio-button {
    padding: 6px 22px;
    font-family: inherit;
    color: inherit;
    background-color: var(--secondary-bgc);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border: none;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-list .item {
    width: calc((100% - 60px) / 3);
    border: 1px solid #EEEEEE;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list .item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.portfolio-list .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.portfolio-list .item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-thumb {
    position: relative;
    overflow: hidden;
}
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-thumb:hover .project-overlay {
    transform: translateY(0);
}
.overlay-text {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 63px;
    padding-left: 24px;
    padding-bottom: 63px;
    padding-left: 24px;
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-color); 
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-text:hover {
    opacity: 1;
}
.portfolio-container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
}
.portfolio-title {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.portfolio-text {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.9;
}

